/* ion-content ion-toolbar {
  --background: translucent;
} */

ion-toolbar {
  color: black;
}

ion-text {
  text-align: center;
}

ion-button {
  display: flex;
  max-width: 400px;
  margin: 20px auto;
}
